
*.pdb
*.exe
x64/Release/checkWeightsBetweenTwo.ipdb
x64/Release/checkWeightsBetweenTwo.iobj
x64/Debug/jumping.ilk
x64/Debug/checkWeightsBetweenTwo.ilk
.vs/SWExpert/v15/ipch/AutoPCH/15f08a879967ef2a/MAIN.ipch
.vs/SWExpert/v15/ipch/AutoPCH/2af0eb186ad62ee3/MAIN.ipch
.vs/SWExpert/v15/ipch/AutoPCH/48c4d78080b5b9f3/MAIN.ipch
.vs/SWExpert/v15/ipch/AutoPCH/bbf3e2e389df097e/MAIN.ipch
.vs/SWExpert/v15/ipch/AutoPCH/d83f2996dccd7e8a/MAIN.ipch
*.db-wal
*.opendb
*.db-shm
*.lastbuildstate
*.tlog
*.log
*.obj
*.idb
*.db
.vs/SWExpert/v15/.suo
